.new-card {
    background-color: #c7d3d9;
    padding: 20px 20px 50px 20px;
    margin: 10px 20px;
    border-left: 5px solid #5167ff;
    border-radius: 6px;
    max-width: 50%;
}

.btn {
    padding: 10px
}

.btn-primary {
    background-color: blue;
    color: white;
}

.btn-outlined {
    background-color: #fff;
    color: #000;
    border: 1px solid grey;
}

.form-container {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    padding: 30px 0px;

    .form-group {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .select-category {
        margin-left: 15px;
        display: inline !important;
        border-radius: 8px;
        padding: 10px;
        width: 100%;
      }
  
    .control-input {
        font-size: 13px;
        font-weight: 600;
        margin: 0 0 8px 0;
        flex: 4;
    }
    .control-label {
        font-size: 13px;
        font-weight: 700;
        margin: 0 0 8px 0;
        flex: 1;
    }
    .form-input {
        flex: 9;
    }
    .form-control {
        font-size: 13px;
        padding: 10px 5px 10px 5px;
        border-radius: 8px;
        width: 100%;
    }
    .file_upload {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

.form-actions {
    text-align: center;
}

.error-msg {
    font-weight: 500;
    color: #8d0808;
    margin-bottom: 10px;
}